In [13]:
import pandas as pd 
import geopandas as gpd
import math

Assumtion calculated from the birth rate statistics:
53% of all children under the age of 10 are between 1 and 6 and therefore might visit a nursery or kindergarten

In [11]:
bev = gpd.read_file("bev1kmF.geojson")
percent= 53
bev['kiga_age'] = bev.apply(lambda row: math.ceil(row.ALTER_10JG *(percent/100)), axis=1)

In [17]:
bev.to_file("population.geojson", driver='GeoJSON')

In [15]:
bev.head()

,ID_1km,ALTER_10JG,INSGESAMT,geometry,kiga_age
0,1kmN2716E4145,3.0,14.0,"POLYGON ((7.66372 47.53262, 7.66331 47.54161, ...",2
1,1kmN2716E4146,52.0,351.0,"POLYGON ((7.67699 47.53290, 7.67658 47.54190, ...",28
2,1kmN2716E4147,31.0,161.0,"POLYGON ((7.69025 47.53318, 7.68985 47.54218, ...",17
3,1kmN2716E4148,21.0,109.0,"POLYGON ((7.70352 47.53346, 7.70312 47.54246, ...",12
4,1kmN2717E4143,0.0,0.0,"POLYGON ((7.63678 47.54104, 7.63636 47.55004, ...",0

In [16]:
print(bev['kiga_age'].describe())
print(bev["ALTER_10JG"].describe())

count    36424.000000
mean        23.081897
std         52.641574
min          0.000000
25%          0.000000
50%          2.000000
75%         19.000000
max        773.000000
Name: kiga_age, dtype: float64
count    36424.000000
mean        43.005409
std         99.150336
min          0.000000
25%          0.000000
50%          3.000000
75%         35.000000
max       1457.000000
Name: ALTER_10JG, dtype: float64